<ion-header>

  <ion-navbar>
    <ion-title>EmbeddedSortableComponent</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="row" *ngFor="let r of cuadriculaMesa; let x = index">
        <div class="col" *ngFor="let c of r; let y = index">
            <span *ngIf="!c.numero" class="slot" dnd-droppable (onDropSuccess)="trasnferData($event,x,y)">
                    <button (click)="agregarMesa(x,y)">+</button>
            </span>
            <span *ngIf="c.numero" class="slot" dnd-draggable (onDragStart)="dragStart(x,y)"[dragEnabled]="true" [dragData]="c">{{c.numero}}</span>
        </div>
    </div>    
</ion-content>
